<link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg', trailing_slash=false) | safe }}">
<link rel="apple-touch-icon" href="{{ get_url(path='apple-touch-icon.png', trailing_slash=false) | safe }}">
<script defer src="{{ get_url(path='js/lightbox.js', trailing_slash=false) | safe }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B44XCBDB6Q"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-B44XCBDB6Q');
</script>
